<section>
  <h2>Search Results</h2>
  <h3>"<%= @search.term %>"</h3>
  <p><em>...coming soon</em></p>
</section>

<section>
  <h2>Search History</h2>
  <ul>
    <% @search.occurrences.each do |occurrence| %>
      <li><%= occurrence.created_at %></li>
    <% end %>
  </ul>
</section>
