<section>
  <h2>Search Results for:</h2>
  <h3>"<%= @search.term %>"</h3>

  <%= render partial: 'results' %>
</section>

<section>
  <h2>Search History</h2>
  <ul>
    <% @search.occurrences.each do |occurrence| %>
      <li><%= occurrence.created_at %></li>
    <% end %>
  </ul>
</section>
